{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trocar Senha</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
<div class="container">
    <h2>Trocar Senha</h2>
    <form method="post">
                
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Trocar Senha</button>
        {% if user.cliente %}
            <a href="{% url 'profile_clients' %}" class="btn btn-secondary">Cancelar</a>
        {% else %}
            <a href="{% url 'profile_prof' %}" class="btn btn-secondary">Cancelar</a>
        {% endif %}
    </form>
</div>
</body>