{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name='copyright' content=''>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <link rel="stylesheet" href="{% static 'css/profile_client.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script defer src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script defer src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 
    <script defer src="{% static 'js/profile_clients.js' %}"></script>
    <script defer src="{% static 'js/chat.js' %}"></script>
    <title>Perfil clientes</title>

<!-- Google Fonts -->
<link
    href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
    rel="stylesheet">

<!-- Nice Select CSS -->
<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
<!-- Font Awesome CSS -->
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<!-- icofont CSS -->
<link rel="stylesheet" href="{% static 'css/icofont.css' %}">
<!-- Slicknav -->
<link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}">
<!-- Owl Carousel CSS -->
<link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">
<!-- Datepicker CSS -->
<link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
<!-- Animate CSS -->
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
<!-- Magnific Popup CSS -->
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

<!-- base CSS -->
<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

</head>

<body>

    <!-- Preloader -->
    <div class="preloader">
        <div class="loader">
            <div class="loader-outter"></div>
            <div class="loader-inner"></div>
    
            <div class="indicator">
                <svg width="16px" height="12px">
                    <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                </svg>
            </div>
        </div>
    </div>
    <!-- End Preloader -->

    <!-- Header Area -->
    <header class="header">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-5 col-12">
                        <!-- Contact -->
                        <ul class="top-link">
                            <!-- <li><a href="#">Sobre nos</a></li> -->
                            <!-- <li><a href="#">Contatos</a></li> -->
                            <li><a href="#">FAQ</a></li>
                        </ul>
                        <!-- End Contact -->
                    </div>
                    <div class="col-lg-6 col-md-7 col-12">
                        <!-- Top Contact -->
                        <ul class="top-contact">
                            <li><i class="fa fa-phone"></i>89 9 8804-7251</li>
                            <li><i class="fa fa-envelope"></i><a
                                    href="mailto:supportFisioA@gmail.com">supportFisioA@gmail.com</a>
                            </li>
                        </ul>
                        <!-- End Top Contact -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Topbar -->
        <!-- Header Inner -->
        <div class="header-inner">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-12">
                            <!-- Start Logo -->
                            <div class="logo">
                                <!-- <a href="index.html"><img src="img/logoo.png" alt="#"></a> -->
                            </div>
                            <!-- End Logo -->
                            <!-- Mobile Nav -->
                            <div class="mobile-nav"></div>
                            <!-- End Mobile Nav -->
                        </div>
                        <div class="col-lg-7 col-md-9 col-12">
                            <!-- Main Menu -->
                            <div class="main-menu">
                                <nav class="navigation">
                                    <ul class="nav menu">
                                        <li class="active"><a href="#">Inicio <i class="icofont-rounded-down"></i></a>
                                            <ul class="dropdown">
                                                <li><a href="{% url 'index' %}">Pagina inicial</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!--/ End Main Menu -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Header Inner -->
    </header>
    <!-- End Header Area -->
<body>
    <div class="container">
        <header>
            <div class="photo-frame">
                <img src="{% static 'img/teste.jpeg' %}" alt="foto">
            </div>
            <h1>Olá! Seja bem-vindo(a)!</h1>
        </header>

        <section class="clients_info">
            <div class="column">
                <h2>Informações Pessoais</h2>
                <table>
                    <tr>
                        <th>Nome Completo:</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th>CPF:</th>
                        <td>{{ user.cliente.cpf }}</td>
                    </tr>
                    <tr>
                        <th>Endereco:</th>
                        <td>{{ user.cliente.endereco }}</td>
                    </tr>
                    <tr>
                        <th>Telefone:</th>
                        <td>{{ user.cliente.telefone }}</td>
                    </tr>
                </table>

                <div class="column">
                    <h2>Lista de Profissionais</h2>
                    <hr>
                    <form action="?" method="GET">
                        <label for="nome"> Nome:</label>
                        <input type="text" name="nome" id="" value="{{ request.GET.nome }}" class="p-1 border" autocomplete="off" placeholder="Nome do profissional">
                        <label for="especialidade"> Especialidade:</label>
                        <input type="text" name="especialidade" id="" value="{{ request.GET.especialidade }}" class="p-1 border" autocomplete="off" placeholder="Especialidade">
                        
                        <button type="submit" class="btn btn-login">Buscar</button>
                    
                        <a href="{% url 'profile_clients' %}" class="btn btn-light">Limpar</a>
                    
                    </form>
                    <hr>
                    <div class="table table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Especialidade</th>
                                    <th>CREFITO</th>
                                    <th>Email</th>
                                    <th>Agendar consulta</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for prof in clients_profissional %}
                                <tr>
                                    <td>{{prof.user.username}}</td>
                                    <td>{{prof.especialidade}}</td>
                                    <td>{{prof.crefito}}</td>
                                    <td>{{prof.user.email}}</td>
                                    <td> 
                                        <a href="{% url 'marcar_consulta' prof.user.username prof.especialidade %}" class="btn btn-primary btn-sm"
                                            title="Agendar consulta">Agendar Consulta</a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="5"> Nenhum profissional registrado </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <ul class="pagination justify-content-center">
                            {% if clients_profissional.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1{% if request.GET.nome %}&nome={{ request.GET.nome }}{% endif %}{% if request.GET.especialidade %}&especialidade={{ request.GET.especialidade }}{% endif %}">&laquo; Primeira</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ clients_profissional.previous_page_number }}{% if request.GET.nome %}&nome={{ request.GET.nome }}{% endif %}{% if request.GET.especialidade %}&especialidade={{ request.GET.especialidade }}{% endif %}">Anterior</a>
                                </li>
                            {% endif %}
                            <li class="page-item">
                                <span class="page-link">Página {{ clients_profissional.number }} de {{ clients_profissional.paginator.num_pages }}.</span>
                            </li>
                            {% if clients_profissional.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ clients_profissional.next_page_number }}{% if request.GET.nome %}&nome={{ request.GET.nome }}{% endif %}{% if request.GET.especialidade %}&especialidade={{ request.GET.especialidade }}{% endif %}">Próxima</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ clients_profissional.paginator.num_pages }}{% if request.GET.nome %}&nome={{ request.GET.nome }}{% endif %}{% if request.GET.especialidade %}&especialidade={{ request.GET.especialidade }}{% endif %}">Última &raquo;</a>
                                </li>
                                
                            {% endif %}
                        </ul>         
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'logout_clients' %}">Logout</a></li>
                        {% endif %}
                    </div>
                </div>

                <!-- <div class="chat-container">
                    <div class="chat-header">
                        <h2>Chat FisioAgenda</h2>
                        <p>Para confirmar, combine os detalhes para seu atendimento com o profissional.</p>
                    </div>
                    <div class="chat-body" id="chatBody">
                        <h3></h3>
                    </div>
                    <div class="chat-footer">
                        <textarea id="messageInput" placeholder="Digite sua mensagem..."></textarea>
                        <button id="sendMessage">Enviar</button>
                    </div>
                </div> -->

                <!-- <h2>Agenda de Consultas</h2>
                <form id="consultaForm">
                    <label for="dataConsulta">Selecione a Data da Consulta:</label>
                    <input type="text" id="dataConsulta" name="dataConsulta" readonly required>

                    <label for="horarioConsulta">Horário da Consulta:</label>
                    <input type="time" id="horarioConsulta" name="horarioConsulta" required>

                    <button type="submit">Marcar Consulta</button>

                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout_clients' %}">Logout</a></li>
                    {% endif %}
                </form> -->
            </div>
        </section>
    </div>

    <!-- Footer Area -->
    <footer id="footer" class="footer ">
        <!-- Footer Top -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-footer">
                            <h2>Nossas redes sociais</h2>
                            <!-- Social -->
                            <ul class="social">
                                <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                <li><a href="#"><i class="icofont-google-plus"></i></a></li>
                                <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                <li><a href="#"><i class="icofont-vimeo"></i></a></li>
                                <li><a href="#"><i class="icofont-pinterest"></i></a></li>
                            </ul>
                            <!-- End Social -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-footer f-link">
                            <h2>Outros links</h2>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Inicio</a></li>
                                        <li><a href="#sobre-nos"><i class="fa fa-caret-right" aria-hidden="true"></i>Sobre
                                                nos</a></li>
                                        <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Servicos</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-footer">
                            <h2>Novidades</h2>
                            <p>Esteja entre os primeiros a saber sobre nossos tratamentos inovadores, eventos especiais
                                e ofertas imperdíveis.</p>
                            <form action="../mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                                <input name="email" placeholder="Email" class="common-input" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Your email address'" required="" type="email">
                                <button class="button"><i class="icofont icofont-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Footer Top -->
        <!-- Copyright -->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="copyright-content">
                            <p>© Copyright 2024 | Atividade Avaliativa Disciplina PW1 </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Copyright -->
    </footer>
    <!--/ End Footer Area -->

    <!-- jquery Min JS -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- jquery Migrate JS -->
    <script src="{% static 'js/jquery-migrate-3.0.0.js' %}"></script>
    <!-- jquery Ui JS -->
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <!-- Easing JS -->
    <script src="{% static 'js/easing.js' %}"></script>
    <!-- Color JS -->
    <script src="{% static 'js/colors.js' %}"></script>
    <!-- Popper JS -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap Datepicker JS -->
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <!-- Jquery Nav JS -->
    <script src="{% static 'js/jquery.nav.js' %}"></script>
    <!-- Slicknav JS -->
    <script src="{% static 'js/slicknav.min.js' %}"></script>
    <!-- ScrollUp JS -->
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <!-- Niceselect JS -->
    <script src="{% static 'js/niceselect.js' %}"></script>
    <!-- Tilt Jquery JS -->
    <script src="{% static 'js/tilt.jquery.min.js' %}"></script>
    <!-- Owl Carousel JS -->
    <script src="{% static 'js/owl-carousel.js' %}"></script>
    <!-- counterup JS -->
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <!-- Steller JS -->
    <script src="{% static 'js/steller.js' %}"></script>
    <!-- Wow JS -->
    <script src="{% static 'js/wow.min.js' %}"></script>
    <!-- Magnific Popup JS -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Counter Up CDN JS -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>