#consultaForm {
    width: 100%;
    margin-bottom: 20px;
}

#consultaForm label,
#consultaForm input[type="text"],
#consultaForm input[type="time"],
#consultaForm button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
}

#consultaForm button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#consultaForm button:hover {
    background-color: #0056b3;
}

 .errors {
     color: red;
     margin-top: 10px;
 }