
.choose-buttons {
    margin: 20px;
    text-align: center;
}

.choose-buttons button {
    padding: 8px 20px;
    background-color: #2966a7;
    color: #fff;
    border-radius: 8px;
    font-size: 19px;
}

.choose-buttons button:hover {
    background-color: #0056b3;
}


.buttons-wrap {
    display: grid;
    text-align: center;
    column-gap: 16px;
    row-gap: 30px;
    margin: 60px 55px 100px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        'primary secondary';
}



.btn-primary {
    grid-area: primary;
}

.btn-secondary {
    grid-area: secondary;
}