/* Estilos para a seção de informações do cliente */
.clients_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clients_info .column {
    width: 100%;
    margin-bottom: 30px;
}

/* Centraliza o h1 */
header h1 {
    text-align: center;
}

.clients_info h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.clients_info table {
    width: 100%;
    border-collapse: collapse;
}

.clients_info table th,
.clients_info table td {
    padding: 10px;
    border: 1px solid #ddd;
}

/* Estilos para a lista de profissionais */
.listaProfiss {
    margin-bottom: 20px;
}

.listaProfiss label,
.listaProfiss input[type="text"],
.listaProfiss button {
    display: block;
    margin-bottom: 10px;
}

.listaProfiss input[type="text"],
.listaProfiss button {
    width: 100%;
    padding: 10px;
}

.listaProfiss button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.listaProfiss button:hover {
    background-color: #0056b3;
}


/* Estilos para a foto do perfil */
.photo-frame {
    width: 150px;
    height: 150px;
    margin: 0 auto 20px auto;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #ddd;
}

.photo-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Centraliza os h1 e h2 em todas as seções */

section h2 {
    text-align: center;
}

.buttons-wrap {
    display: grid;
    text-align: center;
    column-gap: 16px;
    row-gap: 30px;
    margin: 30px 15px 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        'logout voltar';
}

.btn-logout {
    grid-area: logout;
}


.btn-voltar {
    grid-area: voltar;
}