form {
    width: 100%;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    /* align-items: center; */
}

label {
    display: block;
    font-size: 16px;
    /* color: #555; */
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 5px;
    margin-top: 17px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para a seção de informações do cliente */
.clients_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clients_info .column {
    width: 100%;
    margin-bottom: 30px;
}

/* Centraliza o h1 */
header h1 {
    text-align: center;
}

.clients_info h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.clients_info table {
    width: 100%;
    border-collapse: collapse;
}

.clients_info table th,
.clients_info table td {
    padding: 10px;
    border: 1px solid #ddd;
}



.buttons-wrap {
    display: grid;
    text-align: center;
    column-gap: 16px;
    row-gap: 30px;
    margin: 30px 15px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        'register voltar';
}

.btn-cadastrar {
    grid-area: cadastrar;
}

.btn-register {
    grid-area: register;
}


.btn-voltar {
    grid-area: voltar;


}

.mensagem {
    margin-top: 20px;
    padding: 10px;
    color: #000000;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(242, 250, 252);
}
