/* Estilos para a seção de informações do profissional */
.profissional_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profissional_info .column {
    width: 100%;
    margin-bottom: 30px;
}

/* Centraliza o h1 */
header h1 {
    text-align: center;
}

.profissional_info h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.profissional_info table {
    width: 100%;
    border-collapse: collapse;
}

.profissional_info table th,
.profissional_info table td {
    padding: 10px;
    border: 1px solid #ddd;
}

/* Estilos para a agenda de consultas */
.agenda_consultas {
    width: 100%;
    margin-top: 30px;
}

.agenda_consultas h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.agenda_consultas table {
    width: 100%;
    border-collapse: collapse;
}

.agenda_consultas table th,
.agenda_consultas table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.btn-concluir {
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

.btn-concluir.verde {
    background-color: green;
    color: white;
}

.btn-concluir.vermelho {
    background-color: red;
    color: white;
}

.btn-concluir[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}

.legenda-vermelha {
    background-color: red;
    color: white;
    padding: 4px 8px;
    margin-right: 10px;
}

.legenda-verde {
    background-color: green;
    color: white;
    padding: 4px 8px;
}

section h2 {
    text-align: center;
}


/* Estilos para a foto do perfil */
.photo-frame {
    width: 150px;
    height: 150px;
    margin: 0 auto 20px auto;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #ddd;
}

.photo-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* botoes logout e voltar */

.buttons-wrap {
    display: grid;
    text-align: center;
    column-gap: 16px;
    row-gap: 30px;
    margin: 40px 15px 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        'logout voltar';
}

.btn-logout {
    grid-area: logout;
}

.btn-voltar {
    grid-area: voltar;
}